<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add-Product</title>
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <link rel="stylesheet" href="AddProductStyle.css">
</head>
<body>
    <form action="/add-product" method="post" class = "Add-ProductForm" id="AddP">
        <div class = "productName">
            <label for="Product name" id="LB">Product name : </label>
            <input type="text" class="textBoxes">
        </div>
        <div class="Price">
            <label for="Price" id="PR">Price :</label>
            <input type="text" class="textBoxes">
        </div>
        <div class="Catogory">
            <label for="Catogory" id="CA">Catogory :</label>
            <input type="text" class="textBoxes">
        </div>
        <div class="Add">
            <input type="button" value="Add">
        </div>
    </form>    
</body>
</html>



