<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>index</title>
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <link rel="stylesheet" th:href="@{/css/index.css}">
</head>
<body>
    
    <div class="contentButton">
        <h3>Product Catalog System</h3>
        <a href="/add-product" target="_blank" style="text-decoration: none;">
        <input type="button" value="Add Product" class="button">
        </a>
        <a href="/display-products" target="_blank" style="text-decoration: none;">
        <input type="button" value="Display Product" class="button">
        </a>    
    </div>
</body>
</html>